@font-face {
  font-family: PocketMonk;
  src: url(../fonts/PocketMonk.otf);
}

@font-face {
  font-family: PokemonGB;
  src: url(../fonts/PokemonGB.ttf);
}

@font-face {
  font-family: Unknown;
  src: url(../fonts/PokemonUnownGB.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: PokemonGB;
}

.jumbotron {
  position: relative;
  background: #D14A47;
}

.jumbotron h1 {
  font-family: PocketMonk;
  color: yellow;
}

.pokeball-icon {
  width: 200px;
  float: right;
}

.pokeball-bottom {
  position: absolute;
  bottom: 0;
  left: 0;	
  background: black;
  width: 100%;
  height: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: url(../images/grass.png) repeat-x left bottom;
  background-size: contain;
}

.footer .container {
  position: relative;
  height: 60px;
}

.footer-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-weight: bold;
}

.footer-icons a {
  color: black;
}

.footer-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16pt;
  color: black;
}

@media (max-width: 768px) {
  .footer-text {
    font-weight: normal;
    font-size: 6pt;
  }

  .footer-icons {
    font-weight: normal;
    font-size: 12pt;
  }
}

@media (max-width: 992px) {
  .pokeball-icon {
    display: none;
  }
  
  .poketitle {
    display: inline-block;
    vertical-align: middle;
  }
  
  .pokehead {
    background: url(../images/poke-ball.svg) no-repeat center bottom;
    background-size: contain;
    min-height: 100px;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
}